<ion-header [translucent]="true">
  <ion-toolbar style="height: 65px; --background: #1ab4ff; color: white; font-size: 30px;font-weight: bold;">
    <span style="font-size: 25px;font-weight: bold;font-family: Roboto;margin-top: 7px; margin-left: 17px;" (click)="navigate()">
      <
    </span>
    <span style="font-size: 25px;font-weight: bold;font-family: Roboto;margin-top: 7px; margin-left: 17px;">
      Polls
    </span>
    
    <span  style="font-size: 25px;font-weight: bold;font-family: Roboto;margin-top: 7px; float:right;margin-right: 17px;" (click)="questions()">Create Poll</span>
    <span  style="font-size: 25px;font-weight: bold;font-family: Roboto;margin-top: 7px; float:right;margin-right: 17px;" (click)="questions1()">Approve Poll</span>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card class="logincard" *ngFor="let poll of polls">

        <div class="input1">
            Q . {{poll.question}}
        </div>

        <div class="input">
          1 . {{poll.option1}}
        </div>
        <div class="input">
          2 . {{poll.option2}}
        </div>
        <div class="input">
          3 . {{poll.option3}}
        </div>
        <div class="input">
          4 . {{poll.option4}}
        </div>

        <ion-button class="button" (click)="delete(poll.pollId)">Delete</ion-button>
       

    </ion-card>
  </div>

</ion-content>
