<!-- <ion-header [translucent]="true">
  <ion-toolbar style="height: 65px; --background: #1ab4ff; color: white; font-size: 30px;font-weight: bold;">
    <ion-title style="font-size: 25px;font-weight: bold;font-family: Roboto;margin-top: 7px;">
      Poll Admin Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="logincard">
      <ion-card-header class="header">
        <ion-card-title class="loginheader">LOGIN</ion-card-title>
      </ion-card-header>

      <div class="loginimg">
        <img class="loginimg1 "src="../../assets/icon/images.png" alt="">
      </div>
      
    
      <ion-card-content class="loginbody">
        <ion-item class="input">
          <ion-label position="floating" class="float">Username</ion-label>
          <ion-input placeholder="Enter Username" type="email" class="float1" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="input">
          <ion-label position="floating" class="float">Password</ion-label>
          <ion-input placeholder="Enter Password" type="Password" class="float1" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button class="button" (click)="login()">Submit</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->


<ion-content  class="section_main" style="--background:#f7faff;" fullscreen  #ionContent [scrollEvents]="true">
  <div class="wrap">
    <div class="im_wrap">
      <!-- <image  class="im_wrap1" #splash [options]="options"  (animationCreated)="animationCreated($event)"></ng-lottie> -->
      <img class="im_wrap1"src="src/assets/cherrry.svg" alt="">

      </div>
    <div class="des">Processing you order</div>
  </div>
  

</ion-content>

